html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
{font-size:36px}h2{font-size:30px}
img{max-width:100%;height:auto}img{horizontal-align:middle}a{color:inherit}
ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}